* {
	box-sizing: border-box;
}

html {
  margin: 05px;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}

.titulo{ 
	grid-area: titulo; 
	background-color: #4865b7;
  background-image: url("https://img.lovepik.com/background/20211021/medium/lovepik-blue-technology-internet-background-image_400135769.jpg");
	background-size: cover;
  opacity: .9;
  text-align: center;
  border:1px solid #555;     
}

.cv {
	font-size: 3.5em;
	line-height: 1.5;
	height: 70px;
	display: ;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 3em;
  color: white;
}

.foto {
	grid-area: foto;
	text-align: center;
  background-color: #303030;
  border-left: 1px solid #555;
  border-top: 1px solid #555;
	
}
.cara {
	border-radius: 60%;
  border-style: solid;
  border-color: gray;
	margin-top: 8px;
  

		
}
.nav { 
	grid-area: nav;
   background-color: #303030;
   border-right: 1px solid #555;
   border-left: 1px solid #555;
}

.ul-1 {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  margin-top: 25px;
  font-family: 'Montserrat', sans-serif;
}

#datos, #estudios, #experiencia, #redes {
   display: block;
  color:white;
  padding: 8px 16px;
  text-decoration: none;
  user-select: none;
  text-align: center;
}

#datos:hover {
  background-color: #555;
  color: white;

}
 #estudios:hover {
  background-color: #555;
  color: white;

}
#experiencia:hover {
  background-color: #555;
  color: white;
}
 
#redes:hover {
  background-color: #555;
  color: white;
}

.contenedor-info { 
  grid-area: contenedor-info; 
	padding-bottom: 100px;
  border-right: 1px solid #555;
}

P {
  line-height: 2.5;
  margin-left: 50px;
  font-family: 'Sen', sans-serif;
  font-size: 1.2em;
  margin-top: 30px;
}

ul {
  line-height: 2.5;
  font-size: 1.2em;
  font-family: 'Sen', sans-serif;
  margin-top: 0;
}
.presentacion {
  margin-right: 10px;
  padding-right: 20px;
  margin-left: 0px;
  text-align: justify;
}

.estudios {
  margin-right: 10px;
  padding-right: 20px;
  margin-left: 25px;
  
}

.experiencia {
  margin-right: 10px;
  padding-right: 20px;
  margin-left: 25px;
  
}

.redes {
  font-size: 1.3em;
  
}

.footer { 
  grid-area: footer; 
}

.contenedor {
  display: grid;
  grid-template-areas:
    'foto titulo titulo titulo titulo titulo'
    'nav contenedor-info contenedor-info contenedor-info contenedor-info contenedor-info'
    'footer footer footer footer footer footer';
  gap: 10px;
  background-color:white;
  padding: 10px;
  grid-template-rows: 140px auto 5px;
  grid-template-columns: 250px auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  grid-gap: 0px;
}

.pie {
		grid-column-start: 1;
    grid-column-end: 7;
    width: 100%;
		height: 50px;
		background-color: #4865b7;
		text-align: center;	
		position: absolute;
		margin-bottom: 0;
		bottom: 0;
		padding-top: 15px;
    border: 1px solid #555;
    background-image: url("https://img.lovepik.com/background/20211021/medium/lovepik-blue-technology-internet-background-image_400135769.jpg");
    color: white;
    
}
.arriba {
  display: none;
}
	
i {
  padding-left: 10px;
  padding-right: 10px;
}

.red:hover {
 	opacity: .5;
}

@media  screen and (max-width: 700px){

p {
  margin-left: 30px;
}
.arriba {
  display: initial;
  float: right;
  font-size: 35px;
  
}
.ul-1 {
	position: relative;
	width: auto;
  font-size: 1em;
}
	
.contenedor {
  display: grid;
  grid-template-areas:
  'foto'
  'titulo'
  'nav'
  'contenedor-info' 
  'footer';
  gap: 10px;
  background-color:white;
  padding: 10px;
  grid-template-rows: 140px 100px 220px;
  grid-template-columns:  auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  grid-gap: 0px;
  }
 
.titulo {
	height: auto;
}

.cv {
  line-height: 1.3;
  font-size: 2.2em;
  height: auto;
  font-weight: auto;
}

.nombre {
  line-height: 1;
  font-size: 1.8em;
}
.cara {
  margin-top: 4px;
}
.contenedor-info {
	height: ;
	padding-bottom: 100px;
  border-left:1px solid #555;
}

.nav { 
	border: 1px solid #555;   
}

.ul-1 {
  border: 1px solid #555;
	margin-top: 0px;
}

.redes {
  font-size: .9em;
  margin-left: 0px;
}

#datos, #estudios, #experiencia, #redes {
  border-bottom: 1px solid #555;
}
}
@media  screen and (max-width: 300px){
  h2{
    display: none;
  }
}

